{% extends 'base.html.twig' %}

{% block title %}Administration des informations{% endblock %}

{% block body %}
<div class="container" style="margin-left: 50px">
    <div class="row">
        {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
            <h1 id="h1ListeEvent">Liste des informations</h1>
            <table class="table">
                <thead style="background-color: #D2C8F8;">
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Photo</th>
                        <th>Du</th>
                        <th>Au</th>
                        <th>De</th>
                        <th>A</th>
                        <th>Endroit concerné:</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in infos %}
                        <tr>
                            <td>{{ info.id }}</td>
                            <td>{{ info.title }}</td>
                            <td>{{ info.picture }}</td>
                            <td>{{ info.startDate|date('d/m/y') }}</td>
                            <td>{{ info.endDate|date('d/m/y') }}</td>
                            <td>{{ info.startTime|date('H:i') }}</td>
                            <td>{{ info.endTime|date('H:i') }}</td>
                            <td>{{ info.concernedPlace }}</td>
                            <td><a href="{{ path('admin_informations_edit', {id: info.id})}}"><i style="padding-left: 20px;color:black" class="bi bi-pencil-square"></i></a></td>
                            <td><a href="{{ path('admin_informations_delete', {id: info.id})}}"><i style="padding-left: 25px;color:black" class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
