{% extends 'base.html.twig' %}

{% block title %}Informations de la mairie{% endblock %}

{% block body %}
    <section id="secinfos">
        <img id="infosimg" src="{{ asset('assets/static/image/informations-1.png') }}" alt="Infos">
        <div class="décoration"></div>
        <h1 id="h1infos">Informations de la mairie</h1>
    </section>
    <section id="allInfos">
        {% for info in infos %}
    <div class="card">
        <img id="imgAllInfos" src="{{asset('assets/static/image/uploads/' ~ info.picture)}}" class="card-img-top"
            alt="{{ info.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ info.title }}</h5>
            <div id="dateAllInfos">
                <p class="card-text"><span class="textAllInfos">Du :</span> {{ info.startDate|date('d/m/y') }}
                </p>
                <p class="card-text"><span class="textAllInfos">Au :</span> {{ info.endDate|date('d/m/y') }}
                </p>
            </div>
            <div id="heureAllInfos">
                <p class="card-text"><span class="textAllInfos">De :</span> {{ info.startTime|date('H:i') }}
                </p>
                <p class="card-text"><span class="textAllInfos">A :</span> {{ info.endTime|date('H:i') }}</p>
            </div>
            <p id="addresseAllInfos" class="card-text"><span class="textAllInfos">Endroit concerné(s) :</span> {{
                info.concernedPlace }}</p>
        </div>
    </div>
    {% endfor %}
    </section>
{% endblock %}