<aside class="col-3 border border-light bg-white p-2 my-4">
    <article class="card mb-3">
        <div class="card-header">Actualités</div>
        <div class="card-body">
            <p><a class="a-admin" href="{{ path('admin_news_index') }}">Liste des Actualités</a></p>
            <p><a class="a-admin" href="{{ path('admin_news_add') }}">Ajouter une Actualité</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">Evènements</div>
        <div class="card-body">
            <p><a class="a-admin" href="{{ path('admin_events_index') }}">Liste des Evènements</a></p>
            <p><a class="a-admin" href="{{ path('admin_events_add') }}">Ajouter un Evènement</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">Informations</div>
        <div class="card-body">
            <p><a class="a-admin" href="{{ path('admin_informations_index') }}">Liste des Informations</a></p>
            <p><a class="a-admin" href="{{ path('admin_informations_add') }}">Ajouter une Information</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">Utilisateurs</div>
        <div class="card-body">
            <p><a class="a-admin" href="{{ path('admin_utilisateurs_index') }}">Liste des Utilisateurs</a></p>
            <p><a class="a-admin" href="{{ path('app_register') }}">Ajouter un Utilisateur</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">Réunions</div>
        <div class="card-body">
            <p><a class="a-admin" href="{{ path('admin_meetings_index') }}">Liste des Réunions</a></p>
            <p><a class="a-admin" href="{{ path('admin_meetings_add') }}">Ajouter une Réunion</a></p>
        </div>
    </article>
</aside>