{% extends 'base.html.twig' %}

{% block title %}Administration des réunions{% endblock %}

{% block body %}
<div class="container" style="margin-left: 50px">
    <div class="row">
        {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
            <h1 id="h1ListeEvent">Liste des réunions</h1>
            <table class="table">
                <thead style="background-color: #D2C8F8;">
                    <tr>
                        <th>Id</th>
                        <th>Type de réunion</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Message</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.id }}</td>
                            <td>{{ meeting.meetingType }}</td>
                            <td>{{ meeting.date|date('d/m/y') }}</td>
                            <td>{{ meeting.time|date('H:i') }}</td>
                            <td>{{ meeting.message }}</td>
                            <td><a href="{{ path('admin_meetings_edit', {id: meeting.id})}}"><i style="padding-left: 20px;color:black" class="bi bi-pencil-square"></i></a></td>
                            <td><a href="{{ path('admin_meetings_delete', {id: meeting.id})}}"><i style="padding-left: 25px;color:black" class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
