{% extends 'base.html.twig' %}

{% block title %}Ajout d'une actualité{% endblock %}

{% block body %}

    
    {{ form_start(newsForm) }}
    <h1 class="h1FormNews">Ajout d'une actualité</h1>
    <div class="Inp1News">
        {{ form_row(newsForm.title, {
        label: 'Titre',
        }) }}
        {{ form_row(newsForm.picture, {
        label: 'Image',
        }) }}
    </div>
    <div class="Inp2News">{{ form_row(newsForm.description, {
        label: 'Description',
        }) }}
    </div>
    <div class="btnNews">
        <button type="submit" class="btn">Envoyer</button>
    </div>
    {{ form_end(newsForm) }}
{% endblock %}