{% extends 'base.html.twig' %}

{% block title %}Démarches Administratives{% endblock %}

{% block body %}
<h1 id="h1demarches">Démarches Administratives</h1>
<section id="demarches">
    <div class="demarchessep">
        <div class="demarche">
            <a href="{{path('demarches_carte_identite')}}"><img class="imgl" src="{{ asset('assets/static/image/identité.png') }}" alt="Carte d'identité"></a>
            <p class="pdemarches">Carte d'identité</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_carte_grise')}}"><img class="imgl" src="{{ asset('assets/static/image/cartegrise.jpg') }}" alt="Carte Grise"></a>
            <p class="pdemarches">Carte grise</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_carte_electorale')}}"><img class="imgl" src="{{ asset('assets/static/image/élections.jpg') }}" alt="Carte éléctorale"></a>
            <p class="pdemarches">Carte électorale</p>
        </div>
    </div>
    <div class="demarchessep">
        <div class="demarche">
            <a href="{{path('demarches_naissance')}}"><img class="imgh" src="{{ asset('assets/static/image/naissance.png') }}" alt="Acte de naissance"></a>
            <p class="pdemarches">Naissance</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_mariage')}}"><img class="imgh" src="{{ asset('assets/static/image/mariage.jfif') }}" alt="Acte de mariage"></a>
            <p class="pdemarches">Mariage</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_passeport')}}"><img class="imgh" src="{{ asset('assets/static/image/passeport.png') }}" alt="Passeport"></a>
            <p class="pdemarches">Passeport</p>
        </div>
    </div>
    <div class="demarchessep">
        <div class="demarche">
            <a href="{{path('demarches_recenssement')}}"><img class="imgl" src="{{ asset('assets/static/image/recensement.jpg') }}" alt="Recenssement"></a>
            <p class="pdemarches">Recenssement</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_deces')}}"><img class="imgh" src="{{ asset('assets/static/image/decès.jpg') }}" alt="Acte de décès"></a>
            <p class="pdemarches">Décès</p>
        </div>
        <div class="demarche">
            <a href="{{path('demarches_conservation')}}"><img class="imgl" src="{{ asset('assets/static/image/conservation.jpg') }}" alt="Conservation des documents"></a>
            <p class="pdemarches">Conservation des documents</p>
        </div>
    </div>
</section>
{% endblock %}
